#navgroup {
    text-align: center;
}
#navgroup fieldset {
    display: inline;
}
.ui-btn-text{
text-shadow:none;
}
.ui-controlgroup-horizontal .ui-btn-inner {
padding: 4px 6px;
}
.ui-btn-active {
    border: 1px solid rgb(35, 115, 165);
	background: #4481BE!important;
    color:white!important;
}